Name: <%= @listing.name %> <br>
Description: <%= @listing.description %> <br>
Price: <%= @listing.price %>

<form action='/bookings/new' method='post'>
  <input type='submit' value='Request to book'>
</form>