<h1>Welcome to MakersBnB</h1>

 <ul>
  <% @listings.each do |listing| %>
   
      <li>
        <%= listing.name %>
        <%= listing.description %>
        <%= listing.price %>
      </li>
  <% end %>
</ul>

<form action="/listings/add" method='get'>
  <input type="submit" value="Add listing">
</form>