<h1>Welcome to MakersBnB</h1>

 <ul>
  <% @listings.each do |listing| %>
   
      <li class='listings' >
        <%= listing.name %>
        <%= listing.description %>
        £<%= listing.price %>
        <form action='listings/<%=listing.listing_id%>' method='get'>
        <input type='submit' value='View' class='button'/>
        </form>
      </li>
  <% end %>
</ul>

<form action="/listings/add" method='get'>
  <input type="submit" value="Add listing" class='button'>
</form>
