<h1>Makers Bnb</h1>

<div>Sign up to Makers Bnb</div>

<form action='/user' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign Up'>
</form>
