<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <title>MakersBnB</title>
  </head>
  <body>
    <nav>
      <div class="nav_divs">
        <form action="/" method='get'>
          <input type="submit" value="MakersBnB">
        </form>
      </div>
      <div class="nav_divs">
        <form action="/listings" method='get' class="nav_button">
          <input type="submit" value="Listings">
        </form>
        <% if session[:user] %>
          <form action="/log_out" method='post' class="nav_button">
            <input type="submit" value="Log Out">
          </form>
        <form action="/bookings" method='get' class ="nav_button">
          <input type="submit" value="Bookings">
        </form>
        <% else %>
          <form action="/log_in" method='get' class="nav_button">
            <input type="submit" value="Log In">
          </form>
        <%end%>
      </div>
    </nav>
    <main>
      <div class="console">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
