<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link stylesheet="../public/stylesheets/application.css" />
    <title>MakersBnB</title>
  </head>
  <body>
    <main>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
