<form action='/user' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' value='Sign Up' class='button'>
</form>

<p>Your password must be between 8 and 32 characters, contain a least one uppercase character,</p>
<p>one lowercase character, one number and one special character (!"%#$%&'()*+).</p>