<form action='/user' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='email' placeholder='Email'>
  <input type='text' name='password' placeholder='Password'>
  <input type='submit' value='Sign Up'>
</form>

Your password must be between 8 and 32 characters, contain a least one uppercase character, <br>
one lowercase character, one number and one special character (!"%#$%&'()*+).